@{
    ViewData["Title"] = "Citas Alumno";
}
@model Cita

<style>
    ul,li{
        list-style-type: none;
         padding: 0; /* Remove padding */
         margin: 0; /* Remove margins */
    }
    button{
        margin:3px;
    }
    .imagen{
        display:flex;
        justify-content:center;
        align-items:center;
    }
   
    .intinerario-card{
        display:flex;
        flex-direction: row;
    }
    #intinerario-hours{
        padding:10px;
        width:15%;
    }
    #intinerario-info{
        padding:10px;
        width:85%;
        display:flex;
        flex-direction:row;
    }

     #intinerario-info_data{
        width:60%;
        display:flex;
     }
     #intinerario-info_actions{
        width:40%;
        display:flex;
        flex-direction: row;
        justify-content: right;
     }

     .contenedor{
         display:flex;
         flex-direction:row;
     }

     .intinerio-display{
         width:80%
     }
    
     .image-psic{
         width:55%;
         display:flex;
         justify-content:center;
         align-items:center;
     }

</style>

<div>

    <nav class="navbar navbar-dark navbar-expand-lg " style="background-color:#0E7A89">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
            <a class="navbar-brand font-weight-bold" href="#">Plataforma Citas Online</a>
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">

            </div>
            <div class="form-inline my-2 my-lg-0">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/CitasAlumno">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/CitasAlumno/Cita">Crear Cita</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/CitasAlumno/Contact">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="row" style="height:80%">
        <div class="col-6" padding:60px;">
            <figure class="imagen">
                <img src="https://cdn.pixabay.com/photo/2020/08/11/14/34/greeting-5480092_960_720.png" style="width:60%;margin-top:50px">
            </figure>
        </div>
        <div class="col-6" align="center">
             
           
             <div class="intinerio-display">

            <div class="intinerario-header p-lg-5">
                <h4>Citas Pendientes</h4>
            </div>
           <div class="intinerario-body ">
               <ul>

                      
                   <li class="card m-2">
                       <div class="intinerario-card">
                           <div id="intinerario-hours" class="bg-warning font-weight-bold">
                               <ul>
                                   <li>8:00</li>
                                   <li>9:00</li>
                               </ul>
                           </div>
                           <div id= "intinerario-info" class="bg-light">
                                    <div id= "intinerario-info_data" >
                                         <ul >
                                           <li>24 Mayo 2022</li>
                                           <li>Salon Biblioteca </li>
                                         </ul>
                                    </div>
                                  
                                    <div id= "intinerario-info_actions" >
                                         <button  class="btn btn-info">Detalles</button>
                                         <button class="btn btn-danger">Eliminar</button>                                  
                                    </div>
                            </div>
                               
                       </div>
                   </li>
                   
               </ul>
           </div>
        </div>



        </div>
    </div>

</div>