@{
    ViewData["Title"] = "Citas Alumno";
}

<div>
    <h2>Citas Alumno</h2>
    <input class= "btn btn-dark" type="button" value="Regresar" onclick="location.href='@Url.Action("Index", "Home")'" />
</div>